@model FinalBackEnd.Models.Clase

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Clase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@Model?.Id">Editar</a> 
    <a asp-action="Index" class="btn btn-outline-dark">Volver</a>
</div>
